---
import { HTMLAttributes } from 'astro/types';
import '@styles/index.css';
// noinspection TypeScriptUnresolvedReference
interface Props extends HTMLAttributes<'head'> {
  // This like OOP with inheritance, this component has all the attributes
  // of <head/> (you don't have to redeclare them). You can add additional
  // attributes, optional ones are denoted with a '?' after the name.
  imageLink?: string;
}
const { title, description, ...props } = Astro.props;
---
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
  <meta name="generator" content={Astro.generator}/>
  <meta name="title" content={title}/>
  <meta property="og:title" content={title}/>
  <meta property="twitter:title" content={title}/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content={Astro.url}/>
  <meta property="twitter:url" content={Astro.url}/>
  {description && <meta name="description" content={description}/>}
  {description && <meta property="og:description" content={description}/> }
  {description && <meta property="twitter:description" content={description}/> }
  <title>{title}</title>
</head>